

.our-com-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: #212121;
  
  }
  
  .our-com-p{
    margin-top: 10px;
  }
  
  
  .mein-list-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .our-work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
  
  .our-comand {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
  
  .mein-list {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.16;
    margin-bottom: 10px;
  }
  
  .list-desk p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  
  .progect-oth {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    margin-bottom: 4px;
  }
  
  .progect-oth-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
    
  }
  
  .hero-name h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
  }
  
  h3 h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
  }
  
    
  body {
    background-color: var(--background-color-white);
    font-family: "Roboto", sans-serif;
  }
  
  .our-comand-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
  }
  
  .log-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #ffffff;
    text-decoration: none;
    
  }
  
  /*--------------- font portfolio -----------------*/
  
  .list-btn button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.14;
  }
  
  .project-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
  }
  
  /*--------------- Index Header--------------------- */
  